# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Data (NO subir)
data/raw/
data/*.csv
data/*.csv.gz
data/*.parquet
data/neighbourhoods.geojson
*.zip
source/*.ipynb
unificación/
CDD_G33_M2_P4_Equipo_5_v2.ipynb
CDD_G33_M2_P4_Equipo_5_v3.ipynb
CDD_G33_M2_P4_Equipo_5_v1.ipynb
model_comparison_v2_vs_v3.csv
model_comparison_v2_vs_v3.md


# Envs
.venv/
venv/
.env

# OS
.DS_Store
EOF