# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Data (NO subir)
data/raw/
data/*.csv
data/*.csv.gz
data/*.parquet
data/neighbourhoods.geojson
*.zip
source/*.ipynb
unificación/

# Envs
.venv/
venv/
.env

# OS
.DS_Store
EOF